/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f2f2f2;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  background: #009632;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer p {
  margin: 1em;
  font-size: xx-large;
}
footer a {
  font-size: large;
  text-decoration: underline;
}

/* Index page styles */
header {
  background-color: white;
  padding: 1em;
}

h1 {
  font-size: 2em;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

#login {
  display: flex;
  align-items: center;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

input[type="username"],
input[type="password"] {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 1em;
  width: 100%;
  max-width: 300px;
}

button[type="submit"],
button[type="register"],
button[type="logout"],
button[type="notification"],
.menu {
  padding: 0.5em 1em;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 1em;
}

button[type="submit"]:hover,
button[type="register"]:hover,
button[type="logout"]:hover,
button[type="notification"]:hover,
.menu:hover {
  background-color: darkblue;
}

img {
  display: block;
  margin: 2em auto;
  max-width: 100%;
}
#slideshow:hover {
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Home page styles */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
}

#notification-button {
  margin-right: 1vw;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

p {
  margin-bottom: 1em;
}
fieldset {
  border-radius: 3px;
  padding: 1em;
  margin: 5vh 5vw;
}
/* Styles for notification radio group */
.radioRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.radioRow label {
  margin-right: 10vw;
}

.radioRow input[type="radio"] {
  margin-left: 10vw;
  margin-right: 1vw;
}
optgroup {
  font-size: larger;
}

/* Styles for document form */
.form-wrapper {
  flex: 1 33vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}
#recordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vh 5vw;
}
#recordForm tr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 3px solid black;
  width: 100%;
}
#documentForm th {
  font-weight: bold;
  padding-right: 1em;
  display: flex;
  align-items: baseline;
  font-size: 2vw;
  border-right: #333;
  white-space: nowrap;
  width: 20%;
}
#documentForm td {
  width: 80%;
  display: flex;
  font-size: 1.5vw;
  align-items: end;
}
#documentForm th,
#documentForm td {
  padding: 0.5em;
}

#documentForm {
  width: 100%;
}
#documentForm input[type="text"] {
  font-size: 1.5vw;
  width: 100%;
  max-width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-left: 1em;
}
.crossButton:hover {
  cursor: pointer;
}
